{% load static %}
{% load dict_extras %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comité de Vigilancia</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vigilancia/css/estilos.css' %}">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-success border-bottom sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold text-white" href="{% url 'vigilancia:estacion' estacion_id=1 %}">POLICÍA NACIONAL DE COLOMBIA</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'vigilancia:estacion' estacion_id=1 %}">Estaciónes</a>
                        </li>                 
                        <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'vigilancia:cuadrante_dinamico' %}">Cuadrantes por Estacion</a>
                        </li>                 
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'vigilancia:cargar_excel' %}">Cargar Delitos</a>
                        </li>
                        <li class="nav-item ms-auto">
                        <li class="nav-item">
                             <a class="nav-link text-white" href="/" style="font-size: 0.85rem; opacity: 0.7;">
                            ← Portafolio</a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>


    <main class="container">
        {% block content %}
        <!-- Aquí se insertará el contenido de otras plantillas -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center text-muted py-3 mt-5 border-top">
        <small>
            Ministerio de Defensa - Policia Nacional de Colombia
            
        </small>
    </footer>

    <!-- Bootstrap JS (opcional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


