{% extends 'vigilancia/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Lista de Cuadrantes</h2>
    <div class="list-group">
        {% for c in cuadrantes %}
            <a href="{% url 'vigilancia:cuadrante_detalle' c.id %}" class="list-group-item list-group-item-action">
                {{ c.nombre }} (Estación: {{ c.estacion.nombre }})
            </a>
        {% empty %}
            <p>No hay cuadrantes disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}